body {
	align-items: center;
	background-color: #000;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	padding: 2rem;
}

/* Result Colors */

.res-bad {
	color: #ff0000;
}

.res-good {
	color: #90ee90;
	font-weight: bold;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 2rem;
}